process {
    executor = 'slurm'
    cache    = 'lenient'
}
executor {
    queueSize         = 100
    queueStatInterval = '10 sec'
    pollInterval      = '10 sec'
    submitRateLimit   = '10 sec'
}
singularity {
    enabled    = true
    autoMounts = true
    runOptions = '-B /vast -B /stornext'
}
cleanup = true
profiles {
    debug {
        cleanup = false
    }
}
