process {
    executor = 'slurm'
    cache = 'lenient'
    resourceLimits {
        // These limits are the maximum across all partitions and QOS
        // on the cluster. Thus, these are mostly taken from the bonus QOS, which
        // has the most lenient resource limits.
        // See `sacctmgr show QOS Format=name%15,MaxTRESPU%110,MaxWall`
        cpus = 6896
        memory = 45548110.M
        time = 14.days
    }
}
executor {
    queueSize = 100
    queueStatInterval = '10 sec'
    pollInterval = '10 sec'
    submitRateLimit = '10 sec'
}
singularity {
    enabled = true
    autoMounts = true
    runOptions = '-B /vast -B /stornext'
}
