process {
    executor = 'slurm'
    cache = 'lenient'
    resourceLimits {
        // These limits are the maximum for one single job on the cluster, and as such are constrained by the resources on the largest node on the cluster,
        // which is currently the Cooper Lake. See the output from `sinfo --Node --format '%N %.7m %c'`
        cpus = 192
        memory = 3011.GB
        // Time limit is set to the bonus QoS wall time, since bonus is the most permissive QoS. See `sacctmgr show qos Format=Name,MaxWall`
        time = 14.days
    }
}
executor {
    queueSize = 100
    queueStatInterval = '10 sec'
    pollInterval = '10 sec'
    submitRateLimit = '10 sec'
}
singularity {
    enabled = true
    autoMounts = true
    runOptions = '-B /vast -B /stornext'
}
